<script type="text/html" id="headerTemplate">
    <div class="result--h2">
        <%= item.product_name %> (ID: <%= item.product_id %>)
    </div>
    <div class="result--p">
        <%= item.description %>
    </div>
</script>

<script type="text/html" id="featureTemplate">
    <ul class="result--graph">
        <% _.each(items, function(item, key, list) { %>
            <li class="result--graph--feature">
                <div class="result--graph--name"><%= item.group_name %></div>
                <div class="result--graph--bar">
                    <div class="result--graph--percent" style="width:<%= item.showPercentage %>%">
                        <div class="result--graph--pos" style="width:<%= item.sentiments.positive %>%">&nbsp</div>
                        <div class="result--graph--neutral" style="width:<%= item.sentiments.positive + item.sentiments.neutral %>%">&nbsp</div>
                        <div class="result--graph--neg" style="width:<%= item.sentiments.positive + item.sentiments.neutral + item.sentiments.negative %>%">&nbsp</div>
                    </div>
                </div>
            </li><br>
        <% }); %>
    </ul>

    <ul class="result--keywords">
        <% _.each(items, function(item, key, list) { %>
            <li class="result--keywords--feature">
                <% _.each(item.keywords, function(keyword, key, list) { %>
                    <div class="result--keyword"><%= keyword.name %></div>
                <% }); %>
            </li><br>
        <% }); %>
    </ul>
</script>

<script type="text/html" id="issueTemplate">
    <div class="result--p">
        Issues/Defects were seen by <%= item.percentage %>% of your consumers.
    </div>
</script>

<script type="text/html" id="customerServiceTemplate">
    <ul class="result--graph">
        <li class="result--graph--axis">

        </li>
        <li class="result--graph--feature">
            <div class="result--graph--name">Sentiment</div>
            <div class="result--graph--bar">
                <div class="result--graph--percent" style="width:100%">
                    <div class="result--graph--pos" style="width:<%= item.sentiment.positive %>%">&nbsp</div>
                    <div class="result--graph--neutral" style="width:<%= item.sentiment.positive + item.sentiment.neutral %>%">&nbsp</div>
                    <div class="result--graph--neg" style="width:<%= item.sentiment.positive + item.sentiment.neutral + item.sentiment.negative %>%">&nbsp</div>
                </div>
            </div>
        </li><br>
    </ul>
</script>
