<script type="text/html" id="headerTemplate">
    <div class="result--h2">
        <%= item.product_name %>
        <button class="base--button result--compare-results" onclick="clickCompare()">Compare Product</button>
    </div>
    <div class="result--p result--subheader">
        <%= item.description %>
    </div>
</script>

<script type="text/html" id="autocompleteTemplate">
    <ul class="result--autocomplete--items">
        <% _.each(items, function(item, key, list) { %>
            <li class="result--autocomplete--item result--h3" onclick="clickProduct(event)">
                <div class="result--autocomplete--item--name"><%= item.name %></div>
                <div class="result--autocomplete--item--id"><%= item.id %></div>
            </li>
        <% }); %>
    </ul>
</script>

<script type="text/html" id="featureTemplate">
    <ul class="result--graph">
        <ul class="result--key">
            <li class="result--key--item">
                <div class="result--key--color" style="background-color: #00b4a0">&nbsp</div>
                <div class="result--key--name">Positive</div>
            </li>
            <li class="result--key--item">
                <div class="result--key--color" style="background-color: #734098">&nbsp</div>
                <div class="result--key--name">Neutral</div>
            </li>
            <li class="result--key--item">
                <div class="result--key--color" style="background-color: #ba8ff7">&nbsp</div>
                <div class="result--key--name">Negative</div>
            </li>
        </ul><br>
        <% _.each(items, function(item, key, list) { %>
            <li class="result--graph--feature">
                <div class="result--graph--name"><%= item.group_name %></div>
                <div class="result--graph--bar">
                    <div class="result--graph--percent" style="width:<%= item.showPercentage %>%">
                        <div class="result--graph--pos" style="width:<%= item.sentiments.positive %>%">&nbsp</div>
                        <div class="result--graph--neutral" style="width:<%= item.sentiments.positive + item.sentiments.neutral %>%">&nbsp</div>
                        <div class="result--graph--neg" style="width:<%= item.sentiments.positive + item.sentiments.neutral + item.sentiments.negative %>%">&nbsp</div>
                    </div>
                </div>
            </li><br><hr style="visibility: hidden">
        <% }); %>
    </ul>

    <ul class="result--keywords">
        <div class="result--keywords--header">
            Keywords
        </div><br>
        <% _.each(items, function(item, key, list) { %>
            <li class="result--keywords--feature">
                <% _.each(item.keywords, function(keyword, key, list) { %>
                    <div class="result--keyword">
                        <div class="result--keyword--name"><%= keyword.name %></div>
                    </div>
                <% }); %>
            </li><br><hr class="result--keyword--splitter">
        <% }); %>
    </ul>
</script>

<script type="text/html" id="issueTemplate">
    <div class="result--p">
        Issues/Defects were seen by <strong><%= item.percentage %>% of your consumers.</strong>
    </div>
</script>

<script type="text/html" id="customerServiceTemplate">
    <ul class="result--graph">
        <ul class="result--key">
            <li class="result--key--item">
                <div class="result--key--color" style="background-color: #00b4a0">&nbsp</div>
                <div class="result--key--name">Positive</div>
            </li>
            <li class="result--key--item">
                <div class="result--key--color" style="background-color: #734098">&nbsp</div>
                <div class="result--key--name">Neutral</div>
            </li>
            <li class="result--key--item">
                <div class="result--key--color" style="background-color: #ba8ff7">&nbsp</div>
                <div class="result--key--name">Negative</div>
            </li>
        </ul><br>
        <li class="result--graph--feature">
            <div class="result--graph--name">Sentiment</div>
            <div class="result--graph--bar">
                <div class="result--graph--percent" style="width:100%">
                    <div class="result--graph--pos" style="width:<%= item.sentiment.positive %>%">&nbsp</div>
                    <div class="result--graph--neutral" style="width:<%= item.sentiment.positive + item.sentiment.neutral %>%">&nbsp</div>
                    <div class="result--graph--neg" style="width:<%= item.sentiment.positive + item.sentiment.neutral + item.sentiment.negative %>%">&nbsp</div>
                </div>
            </div>
        </li><br>
    </ul>
    <br><br><br><br>
    <ul class="exerpts">
        <li>
            Positive Review<br>
            <div class="exerpt">"Customer Service was EXCELLENT!!!"</div>
            <hr class="exerpt--splitter">
        </li>
        <li>
            Neutral Review<br>
            <div class="exerpt">"Customer Service got the job done."</div>
            <hr class="exerpt--splitter">
        </li>
        <li>
            Negative Review<br>
            <div class="exerpt">"The service technicians didn't do A THING to help me out. Really need to be talked to."</div>
            <hr class="exerpt--splitter">
        </li>
    </ul>
</script>
